:root {
  --max-blue: #6499E9;
  --min-blue: #BDF1F6;
  --max-green: #61B292;
  --min-green: #79AC78;
  --min-pink: #FACBEA;
  --max-pink: #EC729C;
  --max-red: #FF4545;
  --min-red: #FF8080;
  --min-orange: #F1E1A6;
}